<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>
    <div th:fragment="modals">
        <div id="dialog" class="modal">
            <div class="modal-content">
                <h4 class="modal-title">What's up?</h4>
                <p class="modal-message">Some message...</p>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn-flat modal-confirm">Confirm</a>
                <a class="modal-action modal-close waves-effect waves-red btn-flat modal-cancel">Cancel</a>
            </div>
        </div>
    </div>
</body>

</html>