<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Complete registration</title>
        <th:block th:replace="fragments/includes :: styles"/>
    </head>
    <body>
        <th:block th:replace="fragments/errors :: errorsBlock"/>
        <main>
            <div class="narrow-card-content">
                <h2 class="center-align grey-text">Complete your registration</h2>
                <div class="form-card">
                    <div class="z-depth-1 grey lighten-4 row form-container">
                        <form class="col s12" method="post" th:object="${user}">
                            <div class="input-field col s12">
                                <input class="validate" type="text" name="name" id="name" th:field="${user.name}" th:maxlength="255"/>
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="validate" type="text" name="surname" id="surname" th:field="${user.surname}" th:maxlength="255"/>
                                <label for="surname">Surname</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="validate" type="password" name="password" id="password" th:field="${user.password}" th:maxlength="255"/>
                                <label for="password">Enter your password</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="validate" type="password" name="password2" id="password2" th:field="${user.passwordConfirm}" th:maxlength="255"
                                       data-error="Passwords do not match"/>
                                <label for="password2">Password (Confirm)</label>
                            </div>
                            <button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect indigo">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <th:block th:replace="fragments/includes :: scripts"></th:block>
    </body>
</html>