<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Survey details</title>
    <th:block th:replace="fragments/includes :: styles"/>
</head>
<body>
<th:block th:replace="fragments/errors :: errorsBlock"/>
<main>
    <div class="medium-card-content">
        <h2 class="center-align grey-text">Survey details</h2>
        <div class="form-card">
            <div class="z-depth-1 grey lighten-4 row form-container survey-preview">
                <form class="col s12" th:object="${survey}">
                    <div class="row">
                        <div class="input-field option-field col s12">
                            <label for="surveyUrl">Url token</label>
                            <input type="text" id="surveyUrl" th:value="${surveyUrl}" th:disabled="disabled" />
                            <a class="btn-floating halfway-fab waves-effect grey remove-option-btn url-copy-btn" href="#!"
                               data-toggle="tooltip" title="Copy survey url">
                                <i class="material-icons">library_books</i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="survey-title">Title</label>
                            <input type="text" id="survey-title" th:field="*{title}"
                                   th:disabled="disabled"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="survey-description">Description</label>
                            <textarea id="survey-description" th:field="*{description}"
                                      class="materialize-textarea" th:disabled="disabled">
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <label for="survey-valid-date" class="active">Valid until</label>
                            <input type="date" id="survey-valid-date" class="datepicker"
                                   th:field="*{validDate}" th:disabled="disabled"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <th:block th:switch="*{resultsPublic}">
                                <em th:case="true">Results for this survey are public</em>
                                <em th:case="false">Results for this survey are private</em>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <a th:href="@{/survey-answering/{surveyToken}(surveyToken=${survey.getUrlToken()})}" class="col s12 btn btn-large waves-effect cyan">Start answering</a>
                    </div>
                    <div class="row" th:if="*{resultsPublic}">
                        <a th:href="@{/statistics/{id}(id=${survey.getId()})}" class="col s12 btn btn-large waves-effect cyan">View statistics</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="fragments/includes :: scripts"></th:block>
</body>
</html>