<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="card blue">
    <div class="row">
        <div class="col s12">
            <h2>Continue your survey</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <span>Hello!</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col s12">
            <span>We see that you saved your survey for later answering. If you want to finish your survey now click this link: </span><a class="red-text" th:href="${url}"><b>finish survey</b></a>
        </div>
    </div>
    <br/>
</div>
</html>