<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="card blue">
    <div class="card-content grey lighten-5">
        <div class="row">
            <div class="col s12">
                <h2>Forgot your password?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span>We received a request to change your password. Click <a class="red-text" th:href="${url}"><b>here</b></a> to reset your account password.</span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col s12">
                <span>If you don't want to reset your password, please ignore this message. Your password will not be reset.</span>
            </div>
        </div>
        <br/>
    </div>
</div>
</html>
